.DS_Store
Thumbs.db

*.zip
*.log

syncplay.ini

.vscode/
QtProject/
asciinema/
atlassian-cli/
clash/
configstore/
fuckcaps/
gh/
git/
gtk-3.0/
iterm2/
karabiner/
menus/
neofetch/
node_modules/
old_vim_files/
opencode/
qBittorrent/
sourcery/
tg/
wireshark/
zed/
